body{
    background: rgb(135, 190, 238)
}


.section{
  position: absolute;
  top: 200px;
  left: 600px;
}

.section h2{
    font-size: 25px;
    margin-bottom: 40px;
}

.section button{
    margin-left: 38px;
    font-size: 15px;
}

